body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 20px 350px;
}


.logo {
  margin-top: 24px;
  color: #f9faf8;
}

ul {
  list-style-type: none;
  display: flex;
  color: #e5e7eb;
  font-size: 18px;
}

li {
  padding: 0px 20px;
}

.welcome {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 60px 350px;
}

.left-welcome {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  margin-bottom: 10px;
}

.subtext {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
  width: 500px;
}

.image {
  font-size: 24px;
  color: #f9faf8;
  background-color: grey;
  width: 500;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  margin-left: 50px;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  border-radius: 2px;
  padding: 5px 20px;
  margin: 5 0;
}

.information {
  font-size: 36px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.pics {
  display: flex;
  justify-content: center;
  padding: 50px 450px;
  gap: 40px;
}

.infopic {
  width: 150;
}

.illustration {
  border-style: solid;
  border-color: #3882f6;
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.quote-section {
  background-color: #e5e7eb;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  width: 800px;
  margin: 0px 500px;
  margin-top: 60px;
}

.thor {
  margin-right: 500px;
  text-align: end;
  font-weight: 700;
  margin-bottom: 60px;
}

.action {
  display: flex;
  justify-content: space-between;
  background-color: #3882f6;
  color: #f9faf8;
  padding: 50px 150px;
  margin: 40px 350px;
  border-radius: 5px;
  font-size: 18px;
}

.signup2 {
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  border-width: 2px;
}

.footer {
  background-color: #1f2937;
  color: white;
  margin: 0px;
  text-align: center;
  padding: 20px 5px;
}

